.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.photo-card {
  width: 23%;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.photo-card:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.photo-card img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.info-item {
  flex: 1;
  margin-right: 10px;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  color: #666;
  text-transform: uppercase;
}







.search-form {
  border: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #f2f2f2;
}

.input-style {
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  color: #777;
  background-color: #f2f2f2;
  border-radius: 50px;
  transition: all 0.3s;
  width: 300px;
  box-sizing: border-box;
}

.input-style:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.search-btn {
  background-image: url('/src/img/search.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #1a2455;
  margin-left: -20px;
  cursor: pointer;
  transition: all 0.3s;
  text-indent: -9999px;
}

.search-btn:hover {
  background-color: #2e3c7f;
}

.load-more {
  background-color: #1a2455;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  margin-top: 20px;
  transition: background-color 0.2s ease;
  justify-content: center;
  visibility: hidden;
}

.load-more:hover {
  background-color: #fff;
  color: #1a2455;
}
